*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/appstore/*
*/uploads/*
*/uploads/!index.html
*/uploads/propic/*
*/uploads/propic/!index.html
*/uploads/maps/*
*/uploads/maps/!index.html
*/uploads/2015/*
*/uploads/2015/03/*
*/uploads/2015/04/*
*/uploads/2015/05/*
*/.idea/*
*/.idea/scopes/*
/.idea
